divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.div-row {
  width: 100%;
  display: table;
}

.div-row-sub {
  display: table-cell;
}

.div-row-sub-value {
  margin-left: 25px;
  min-height: 40px;
}

.child:first-child .childinner {
  margin-left: 0;
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

mat-form-field {
  margin-right: 12px;
}
